*~*
*.bak
.*.swp
*.orig
*.class
*closure
*.DS_Store
target/
target-eclipse/
classpath
.settings
*stacktrace
.classpath
.project
web-app/WEB-INF/classes
stacktrace.log
dtd/
prodDb.log
prodDb.properties
prodDb.script
devDB.*
newrelic.log
webserver/cobertura.ser
webserver/purgecards.log
webserver/.sonar